
.videoContainer {
  border: solid 1px red;
  display: flex;
  /*
  flex-direction: row;
  flex-wrap: wrap;
  */
  flex-wrap: wrap;
  width: 900px;
  padding: 1rem;
  justify-content: space-around;
  margin: 1rem;
}

.videoContainer > Webcam {
  border: solid 1px red;
  
}


.playingBox  {
  border: 1px solid blue;

}
.recordingBox { 
  border: 1px solid blue;
}


.recordingBox > video {
  border: 1px solid red;
  width: 400px;
  height: 300px;

}


.playingBox > video {
  border: 1px solid red;
  width: 400px;
  height: 300px;
  
}

.input{
  background-color: rgba(96, 108, 110, 0.15);
  height: 40px;
  padding: 10px 10px;
  color: #606c6e;
  font-size: 30px;
  outline: 0 solid transparent;
  border: 0 solid transparent;
  width: 100%;
  border-radius: 4px;
  letter-spacing: -0.4px;
  padding: 10px 18px;
  width: 200px;
  
  border: 1px solid red;
}



.br {
  width:100%;
  word-break:break-all;
  word-wrap:break-word;
}

.scrollbar {
  border: 1px solid black;
  overflow-x:hidden;
  overflow-y:auto;
  margin-left: 30px;
  margin-right: 30px;
  height:calc(100vh - 100px)
}

.WholeDiv{
  margin-left: 30px;
  margin-right: 30px;
}